@model CodeAgentsTeam3.Models.Profile
@{
    ViewData["Title"] = "Manage your account";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="@Model.imagePath">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">@Model.LastName @Model.FirstName</a>
                    </div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/peddipranay">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/u/0/getstarted/getstarted?fww=1&continue=https://plus.google.com/u/0/me">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/abhinaya.mogalipuvvu">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://www.facebook.com/abhinaya.mogalipuvvu">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-9">
            <h2>@ViewData["Title"].</h2>
            <p class="text-success">@ViewData["StatusMessage"]</p>
            <div>
                <h4>Change your account settings</h4>
                <hr />
            </div>
            <div>
                <form asp-action="Update" asp-controller="Manage" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <h4>Profile</h4>
                        <hr />
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Image Upload" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input type="file" id="files" name="ProfileImage" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
