@model IEnumerable<CodeAgentsTeam3.Models.FindTalent>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 24 Persons</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/home.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    <style>

        #myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: lightcoral;
}



        #aboutus {
            background-image: url('/img/background.jpg');
            background-size: contain;
        }

        .linksHover a {
            opacity: 0.6;
        }

            .linksHover a:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-1 sidenav"></div>
        <div class="col-sm-2 sidenav">
                <br />
                @using (Html.BeginForm())
            {
                    <p>
                        <h3>Filter By:</h3><br/>@Html.TextBox("SearchString")
                        <input type="submit" value="Search" />
                    </p>
                }
                <br /><br />
                <h3>Sort By</h3>
                <p>@Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })</p>
                <p>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })</p>
                <p>@Html.ActionLink("Experience", "Index", new { sortOrder = ViewBag.ExperienceSortParm })</p>
                <p>@Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })</p>
        </div>

        <div class="col-sm-9 text-left">

            @foreach (var item in Model)
            {
                <br />
                <div class="col-lg-12 text-left">
                    <div class="row">
                        <div class="col-sm-2">
                            @*<img src="~/lib/bootstrap/dist/images/defaultuser.png" /><br />*@
                            <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" alt="FindTalent Profile">
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>First Name: @Html.DisplayFor(modelItem => item.FirstName) </p>
                            <p>Last Name: @Html.DisplayFor(modelItem => item.LastName) </p>
                            <p>Profession: @Html.DisplayFor(modelItem => item.Profession) </p>
                            <p>Experience: @Html.DisplayFor(modelItem => item.Experience) </p>
                            <p>
                                @if (item.Rating == 1)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                }
                                else if (item.Rating == 2)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>

                                }
                                else if (item.Rating == 3)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>

                                }
                                else if (item.Rating == 4)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>

                                }
                                else if (item.Rating == 5)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>

                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                }
                            </p>
                        </div>

                        <div class="col-md-4">

                            <a data-toggle="modal" data-target="#melwin">Details</a> <br />
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                // Do something here
                                <a asp-action="Edit" asp-route-id="@item.FindTalentID">Edit</a><br />
                                <a asp-action="Delete" asp-route-id="@item.FindTalentID">Delete</a>
                            }

                        </div>

                    </div>
                    <div class="row">
                        <br /><br />
                    </div>

                </div>

            }

        </div>
    </div>


    <div class="modal fade" id="melwin" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Melwin</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/lib/bootstrap/dist/images/Melwin.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b style="font-family:'Dosis-Medium';color:lightcoral">Description: </b> I am very higly motivated professional and a great passion to showcase my acting talent.
                        <ul>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:large">Age: 25</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:large">Height: 5 ft 6 inch</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:large">Experience: 3 Years</li>
                        </ul>
                    </div>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:lightcoral">Previous Work</b></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Film Name</th>
                                <th>Role</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two States</td>
                                <td>Doe's father</td>
                                <td>2008</td>
                            </tr>
                            <tr>
                                <td>Fire</td>
                                <td>The Driver</td>
                                <td>2010</td>
                            </tr>
                            <tr>
                                <td>Heart Beat</td>
                                <td>Hero</td>
                                <td>2010</td>
                            </tr>

                            <tr>
                                <td>Pulp Fiction</td>
                                <td>Friend of Sam</td>
                                <td>2010</td>
                            </tr>
                            <tr>
                                <td>Die Hard</td>
                                <td>Body Builder</td>
                                <td>2014</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:lightcoral">Education Qualification</b></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Instituition</th>
                                <th>Graduation Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Master's in Mass Media</td>
                                <td>New York Film Academy</td>
                                <td>2004</td>
                            </tr>
                            <tr>
                                <td>Bachelor's in Multimedia</td>
                                <td>Pratt Institue</td>
                                <td>2000</td>
                            </tr>
                         <hr />

                           

                            
                        </tbody>
                    </table>
                    <hr />


                    <h4><b style="font-family:'Dosis-Medium';color:lightcoral">Videos</b></h4>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/22cN-b8R5Zk" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/-7wEWob72S4" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/pfOl-ZcsWyI" frameborder="0" allowfullscreen></iframe>

                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>

                    <br>
                    <button onclick="move()" style="font-family:'Dosis-Medium';color:lightcoral">Star Dust Rating</button>

                    <script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
        
      elem.style.width = 70 + '%';
    }
  }
}
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>


  
